@charset "UTF-8";

body {
    background-color: rgba(160, 2, 165, 0.836);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  h1 {
    color: coral;
    background-color: rgb(45, 0, 71);
  }

  h2 {
    color: goldenrod;
  }

  p {
    text-align: justify;
  }